
<!-- <h1 class="absolute left-[37%] top-5 text-3xl text-slate-500 font-bold">{{ title?.text }}</h1> -->
<!-- <button mat-raised-button (click)="showTitle()"
  class="absolute top-0 left-[94%]"
>Show Title</button> -->
<div class="overflow-y-auto">
<h1 (click)="showTitle()" class="cursor-pointer absolute top-6 left-[37.5%] text-3xl text-slate-500 font-bold">{{ title[0]?.text }}</h1>

  <canvas #canvasRef id="canvasId" width="2030" height="1000"
        class="m-auto bg-cover bg-center bg-no-repeat"
        [style.background-image]="'url(' + '../../../../assets/pages/'  + bg + ')'"
        (click)="text($event)"
        >
  </canvas>
</div>
