<div class="w-full h-12  border-gray flex items-center justify-between bg-white drop-shadow-xl ">
  <ul class="flex items-center pl-10">
    <li>
      <button class="flex flex-row-reverse items-center" mat-button [matMenuTriggerFor]="menu">
        <p class=" text-gray-500">Monkey X</p>
        <mat-icon class="text-gray-500">arrow_drop_down</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </li>
    <li>
      <button class="flex flex-row-reverse" mat-button [matMenuTriggerFor]="menu">
        <p class="text-gray-500">RLC</p>
        <mat-icon class="text-gray-500">arrow_drop_down</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </li>
    <li>
      <button class="flex flex-row-reverse" mat-button [matMenuTriggerFor]="menu">
        <p class="text-gray-500">English US</p>
        <mat-icon class="text-gray-500">arrow_drop_down</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </li>
  </ul>

  <div  class="flex flex-row items-center justify-center pr-10">
    <button class="flex flex-row-reverse items-center gap-1" mat-button [matMenuTriggerFor]="menu1">
      <p class=" text-gray-500">KT_Minh_Duc</p>
      <mat-icon class="text-gray-500">arrow_drop_down</mat-icon>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item (click)="logOut()">Logout</button>
      </mat-menu>
    </button>
    <img src="../../../assets/logo.jpg" class="w-12" alt="">
  </div>
</div>
