<div class="flex px-5 py-3 border-b-2 border-gray-300">
  <div class="flex items-center gap-1 cursor-pointer flex-1" (click)="backStory()">
    <mat-icon class="text-sky-600">arrow_back</mat-icon>
    <p class="text-sky-600 text-lg">Back story detail</p>
  </div>
  <div class=" flex items-center gap-2">
    <button class="" mat-raised-button><mat-icon class="m-0">cached</mat-icon></button>
    <button mat-raised-button color="primary">Update All</button>
  </div>
</div>

<div class="flex flex-col gap-44">

  <app-story></app-story>
  <app-text-page-content></app-text-page-content>
</div>


