<div class="flex px-5 py-3 border-b-2 border-gray-300">
  <div class="flex gap-1 cursor-pointer flex-1 flex-col">
    <div class="flex items-center gap-1 cursor-pointer" (click)="backStory()">
      <mat-icon class="text-sky-600">arrow_back</mat-icon>
      <p class="text-sky-600 text-lg">Back story detail</p>
    </div>
    <h1 class="text-xl">Config object: Who can Tap the Can?</h1>
  </div>
  <div class=" flex items-center gap-2">
    <button class="" mat-raised-button><mat-icon class="m-0">cached</mat-icon></button>
  </div>
</div>

<div class="w-full">
  <div class="w-full">
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab *ngFor="let item of pages; let i = index" label="Trang {{i+1}}">
          <div class="w-full h-4/5 m-auto mt-2">
            <app-canvas [bg]="selectedPage?.background"></app-canvas>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
</div>



