<div class="flex px-5 py-3 border-b-2 border-gray-300">
  <div class="flex gap-1 cursor-pointer flex-1 flex-col">
    <div class="flex items-center gap-1 cursor-pointer" (click)="backStory()">
      <mat-icon class="text-sky-600">arrow_back</mat-icon>
      <p class="text-sky-600 text-lg">Back story detail</p>
    </div>
    <h1 class="text-xl">Config object: Who can Tap the Can?</h1>
  </div>
  <div class=" flex items-center gap-2">
    <button class="" mat-raised-button><mat-icon class="m-0">cached</mat-icon></button>
  </div>
</div>

<div>
  <div class="w-full">
    <mat-tab-group class="font-bold">
      <mat-tab label="Trang 1">
        <div class="mt-4 overflow-y-auto h-3/4">
          <img src="https://monkeymedia.vcdn.com.vn/upload/web/img/20-01-2022_22_44_16_monkey-junior-va-monkey-stories-cai-nao-tot-hon-1.jpg"
          alt="" class="m-auto">
        </div>
      </mat-tab>
      <mat-tab label="Trang 2"> Trang 2 </mat-tab>
      <mat-tab label="Trang 3"> Trang 3 </mat-tab>
      <mat-tab label="Trang 4"> Trang 4 </mat-tab>
      <mat-tab label="Trang 5"> Trang 5 </mat-tab>
      <mat-tab label="Trang 6"> Trang 6 </mat-tab>
      <mat-tab label="Add +"></mat-tab>
    </mat-tab-group>
  </div>
</div>
