<div class="w-[99%] border-2 border-gray-300 m-auto mt-5 rounded-md bg-white shadow-lg">
  <div class="bg-slate-100">
    <h1 class="border-b-2 border-gray-300 pl-5 py-2 font-bold">Text Page Content</h1>
  </div>

  <div class="m-auto p-3">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Page" >
        <th mat-header-cell *matHeaderCellDef class="text-center"> Page </th>
        <td mat-cell *matCellDef="let element" class="text-center" (click)="textOfPage()">
          <p>Trang {{element.page_number}}</p>
          <p>(Page ID: {{element.id}})</p>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Content">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Content </th>
        <td mat-cell *matCellDef="let element"> {{dataFake.content}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Sync data">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Sync data </th>
        <td mat-cell *matCellDef="let element"> {{dataFake.syncData}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="File Audio">
        <th mat-header-cell *matHeaderCellDef class="text-center"> File Audio </th>
        <td mat-cell *matCellDef="let element" class="flex flex-col gap-3 py-2">
          <audio controls class="h-8">
            <source src="horse.ogg" type="audio/ogg">
            <source src={{dataFake.fileAudio}} type="audio/mpeg">
            Your browser does not support the audio tag.
          </audio>
        </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef class="text-gray-600 font-bold"> Actions </th>
        <td mat-cell *matCellDef="let element"><mat-icon class="text-red-600 cursor-pointer">delete_outline</mat-icon></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
 </div>
</div>
